seed: 73

model:
  general:
    mask_ratio: 0.75
    image_size: 96
    patch_size: 6
    in_chans: 3

  encoder:
    embed_dim: 384
    depth: 12
    num_heads: 6

  decoder:
    decoder_embed_dim: 512
    decoder_depth: 8
    decoder_num_heads: 8

  head:
    embed_dim: 384
    dropout: 0.2
    pool: cls

pretrain:
  total_epochs: 200
  warmup_epochs: 20
  batch_size: 256
  base_learning_rate: 1.5e-4
  weight_decay: 0.05
  data_fraction: 1.00
  val_split: 0.05
  num_workers: 4
  output_dir_suffix: mae_100

train:
  samples_per_class: 400
  total_epochs: 100
  warmup_epochs: 10
  batch_size: 512
  learning_rate: 3e-4
  weight_decay: 0.05
  freeze_encoder: true
  num_workers: 4
  output_dir_suffix: mae_400

test:
  batch_size: 512
  num_workers: 4
  output_dir_suffix: mae_100_400

logging:
  output_dir_base: outputs
  model_path: vit-mae.pt
